<div class="news1">
    <h2 id="selected-honors">Awards</h2>
    <div>
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm-1"><b><font size="3">2021</font></b></div>
                <div class="col-sm-9">
                  <div>HuaWei Global AI Challenge, Champion, $30000 (1/3600), <a href="https://github.com/q-qing/huawei_digix2021_track1">[code]</a></div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="row">
                <div class="col-sm-1"><b><font size="3">2021</font></b></div>
                <div class="col-sm-9">
                  <div>Huawei HMS APP Innovation Contest, Best Application Award</div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="row">
                <div class="col-sm-1"><b><font size="3">2018</font></b></div>
                <div class="col-sm-9">
                  <div>Outstanding Undergraduate, UESTC</div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="row">
                <div class="col-sm-1"><b><font size="3">2017</font></b></div>
                <div class="col-sm-9">
                  <div>Mathematical Contest In Modeling (MCM), Meritorious Winner</div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="row">
                <div class="col-sm-1"><b><font size="3">2017</font></b></div>
                <div class="col-sm-9">
                  <div>Contemporary Undergraduate Mathematical Contese In Modeling, Third Prize of Sichuan Province</div>
                </div>
              </div>
            </td>
          </tr>

      </tbody></table>
    </div>
  </div>